// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  // background: #f3f3f3 !important;
  font-size:$global-font-size;
}

.container.header {
  // background: #f3f3f3;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}
// links
a{
  color:$alert-color!important;
  font-weight: bold!important;
}
// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: $alert-color !important;
  border-color: $alert-color;
}

.wrapper.secondary {
  background: #f3f3f3;
}
.bg{
  &-primary-color{background-color:$primary-color!important;}
  &-secondary-color{background-color:$secondary-color!important;}
  &-success-color{background-color:$success-color!important;}
  &-warning-color{background-color:$warning-color!important;}
  &-thirt-color{background-color:$thirt-color!important;}
  &-alert-color{background-color:$alert-color!important;}
  &-light-gray{background-color:$light-gray!important;}
  &-medium-gray{background-color:$medium-gray!important;}
  &-dark-gray{background-color:$dark-gray!important;}
  &-black{background-color:$black!important;}
  &-white{background-color:$white!important;}
  &-alpha{background-color:$alpha!important;}
}
.text{
  &-primary-color{color:$primary-color!important;}
  &-secondary-color{color:$secondary-color!important;}
  &-success-color{color:$success-color!important;}
  &-warning-color{color:$warning-color!important;}
  &-thirt-color{color:$thirt-color!important;}
  &-alert-color{color:$alert-color!important;}
  &-light-gray{color:$light-gray!important;}
  &-medium-gray{color:$medium-gray!important;}
  &-dark-gray{color:$dark-gray!important;}
  &-black{color:$black!important;}
  &-white{color:$white!important;}
  &-alpha{color:$alpha!important;}
}
.text-center-important{text-align:center!important;}
.text-left-important{text-align:left!important;}
.text-right-important{text-align:right!important;}
.banner-mailing{
  background-color: rgba($white,.8);
}
.link-menu{height:45px}
.title-mail{padding-top:$global-padding!important;}
.ref-number{
  th{
    text-align:right!important;
    color:$warning-color!important;
  }
}
.margin-top{margin-top:$global-margin!important;}
.padding-top{padding-top:$global-margin!important;}
.header{
  border-bottom:$global-radius solid $alert-color!important;
  .wrapper-inner{
    padding:0!important;
  }
}
.footer{
  border-top:$global-radius solid $alert-color!important;
  border-bottom:$global-radius solid $alert-color!important;
}