 <wrapper class="bg-dark-gray padding-top footer">
                      <container>
                        <row class="border-orange">
                          <columns small="12" large="8" class="padding-top">
                            <h6 class="margin-top text-white">Síguenos en nuestras redes:</h6>
                          </columns>
                          <columns small="3" large="1" class="padding-top">
                            <a href="https://www.facebook.com/universoymascotas" title="Universo de mascotas facebook">
                              <img class="center-image" src="http://i.embluejet.com/ImagenesMoxie/5681/images/descubre-lo-mejor-para-tu-mascota-05.jpg" alt="Universo mascotas facebook" />
                            </a>
                          </columns>
                          <columns small="3" large="1" class="padding-top">
                            <a href="https://twitter.com/universomascota" title="Universo de mascotas twitter">
                              <img class="center-image" src="http://i.embluejet.com/ImagenesMoxie/5681/images/descubre-lo-mejor-para-tu-mascota-06.jpg" alt="Universo mascotas twitter" />
                            </a>
                           </columns> 
                          <columns small="3" large="1" class="padding-top">
                            <a href="https://www.instagram.com/universomascota/"  title="Universo de mascotas instagram">
                              <img class="center-image" src="http://i.embluejet.com/ImagenesMoxie/5681/images/descubre-lo-mejor-para-tu-mascota-07.jpg" alt="Universo mascotas instagram">
                            </a>
                           </columns> 
                          <columns small="3" large="1" class="padding-top">
                            <a href="https://www.youtube.com/user/universomascotas2014" title="Universo de mascotas youtube">
                              <img class="center-image" src="http://i.embluejet.com/ImagenesMoxie/5681/images/descubre-lo-mejor-para-tu-mascota-08.jpg" alt="Universo mascotas youtube">
                            </a>
                           </columns> 
                        </row>
                      </container> 
                    </wrapper>