 <wrapper class="bg-dark-gray padding-top footer">
                      <container>
                        <row class="border-orange">
                          <columns small="12" large="8" class="padding-top">
                            <h6 class="margin-top text-white">Síguenos en nuestras redes:</h6>
                          </columns>
                          <columns small="3" large="1" class="padding-top">
                            <a href="https://www.facebook.com/universoymascotas" title="Universo de mascotas facebook">
                              <img class="center-image" src="https://cdn.totalcode.com.co/universomascotas/web_content/assets/mail-facebook-universomascotas.png" alt="Universo mascotas facebook" />
                            </a>
                          </columns>
                          <columns small="3" large="1" class="padding-top">
                            <a href="https://www.instagram.com/universomascota/"  title="Universo de mascotas instagram">
                              <img class="center-image" src="https://cdn.totalcode.com.co/universomascotas/web_content/assets/mail-instagram-universomascotas.png" alt="Universo mascotas instagram">
                            </a>
                           </columns> 
                          <columns small="3" large="1" class="padding-top">
                            <a href="https://twitter.com/universomascota" title="Universo de mascotas twitter">
                              <img class="center-image" src=" https://cdn.totalcode.com.co/universomascotas/web_content/assets/mail-twitter-universomascotas.png" alt="Universo mascotas twitter" />
                            </a>
                           </columns> 
                          <columns small="3" large="1" class="padding-top">
                            <a href="https://www.youtube.com/user/universomascotas2014" title="Universo de mascotas youtube">
                              <img class="center-image" src=" https://cdn.totalcode.com.co/universomascotas/web_content/assets/mail-youtube-universomascotas.png" alt="Universo mascotas youtube">
                            </a>
                           </columns> 
                        </row>
                      </container> 
                    </wrapper>