 <wrapper class="bg-white header">
  <container>
    <row>
      <columns>
        <a href="https://www.universomascotas.co/?utm_source=transacciona-mailing&utm_medium=email&utm_campaign=transaccional-mailing&utm_term=menu-transaccional-mailing&utm_content=logoImage">
            <img class="float-center" src="http://i.embluejet.com/ImagenesMoxie/5681/images/universo-de-mascotas-logo.png" alt="Universo mascotas logo ">
        </a>
      </columns>
      <columns class="bg-warning-color show-for-large link-menu">
        <p class="text-center">
          <a class="text-white text-center" href="https://www.universomascotas.co/?utm_source=transacciona-mailing&utm_medium=email&utm_campaign=transaccional-mailing&utm_term=menu-transaccional-mailing&utm_content=link">Inicio</a>
        </p>
      </columns>
      <columns class="bg-success-color show-for-large link-menu">
        <p class="text-center">
          <a class="text-white text-center" href="https://www.universomascotas.co/c/perros/?utm_source=transacciona-mailing&utm_medium=email&utm_campaign=transaccional-mailing&utm_term=menu-transaccional-mailing&utm_content=link">Perros</a>
        </p>
      </columns>
      <columns class="bg-alert-color show-for-large link-menu">
        <p class="text-center">
          <a class="text-white text-center" href="https://www.universomascotas.co/c/gatos/">Gatos</a>
        </p>
      </columns>
    </row>
  </container>
</wrapper>